<html>
  <head>
    <title>OverOps settings</title>
    <meta name="decorator" content="atl.admin">
    ## ${webResourceManager.requireResource("com.overops.plugins.bamboo.overops:overopsResources")}
    <style type="text/css">
      .infoText { color: green; }
    </style>
  </head>
  <body>
    <h1>OverOps settings</h1>
    <p>TODO: add some text about this page</p>

    <form id="overopsSettingsForm" name="overopsSettingsForm" action="" method="post" class="aui">
      <div class="form-content-container">
        <div class="field-group">
          <label for="name">${i18n.getText("overops.admin.url")}</label>
          <input type="text" id="url" name="url" class="text" value="${url}">
        </div>
        <div class="field-group">
          <label for="name">${i18n.getText("overops.admin.env")}</label>
          <input type="text" id="env" name="env" class="text" value="${env}">
        </div>
        <div class="field-group">
          <label for="name">${i18n.getText("overops.admin.token")}</label>
          <input type="text" id="token" name="token" class="text" value="${token}">
        </div>
        <div class="field-group">
          <span class="infoText">${info}</span>
          <span class="errorText">${error}</span>
        </div>
        <div class="buttons-container">
          <div class="buttons">
            <input type="submit" name="save" value="Save" class="assistive" id="overopsSettingsForm_defaultSave" tabindex="-1">
            <input type="submit" name="save" value="Save" class="aui-button aui-button-primary" id="overopsSettingsForm_save" accessKey="S">
            <input type="submit" name="testConnection" value="Test Connection" class="aui-button" id="overopsSettingsForm_test" accessKey="T">
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
