
<html>
<style type="text/css">.infoText {
    color: green;
}</style>
<head>
    <title>OverOps Administration</title>
    <meta name="decorator" content="atl.admin">
    ${webResourceManager.requireResource("com.overops.plugins.bamboo.OverOps:OverOpsResources")}
</head>
<body>
<form id="overopsadmin" class="aui" method="POST">
    <div class="field-group">
        <label for="name">${i18n.getText("overops.admin.url")}</label>
        <input type="text" id="url" name="url" class="text" value="${url}">
        <br/>
        <br/>
        <label for="name">${i18n.getText("overops.admin.evn")}</label>
        <input type="text" id="env" name="env" class="text" value="${env}">
        <br/>
        <br/>
        <label for="name">${i18n.getText("overops.admin.token")}</label>
        <input type="text" id="token" name="token" class="text" value="${token}">
        <br/>
    </div>
    <div class="field-group">
        <span class="infoText">${info}</span>
        <span class="errorText">${error}</span>
    </div>
    <div class="field-group">
        <input type="submit" value="Save" class="button">
    </div>
</form>
</body>
</html>
